  <section id="" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Best Coaching Institutes Near You</h2>
<div class="row">
<% @institutes.each do |institute| %>
<div class="col-md-3">




<div class="thumbnail">

<%= image_tag  institute.image.url %>

<div class="caption">

<strong><%= institute.name %></strong><br>
<%= institute.address %><hr>
       <%= link_to 'View Profile', institute, class: "btn btn-primary" %>


       <% if user_signed_in? && current_user.admin? %>
       <%= link_to 'Edit', edit_institute_path(institute), class: "btn btn-link" %>
        <%= link_to 'Delete', institute, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
    <% end %>

      
  
       
</div>
</div>
</div>

 <% end %>


 <br>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
<br>


 <% if user_signed_in? && current_user.admin? %>

<%= link_to 'New Institute', new_institute_path %>
<% end %>

</div>
</div>
</div>
</div>
</div>
