<section id="" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Best Tutors Near You</h2>
<div class="row">
<% @tutors.each do |tutor| %>
<div class="col-md-3">




<div class="thumbnail">
<div class="team-profile">

<%= image_tag  tutor.image.url %>



<div class="team-area">
<div class="team-details">

<h3><%= tutor.name %></h3><hr>

<p><%= tutor.about_me %></p>

<%= link_to 'View Profile', tutor, class: "btn btn-primary" %>

<% if user_signed_in? && current_user.admin? %>
       <%= link_to 'Edit', edit_tutor_path(tutor), class: "btn btn-link" %>
        <%= link_to 'Delete', tutor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
    

      <% end %>
  
 </div>
     </div>
     </div>
     </div>
     </div>






 <% end %>

 <% if user_signed_in? && current_user.admin? %>
<%= link_to 'New Tutor', new_tutor_path %>
<% end %>
</div>
          </div>
          </section>






      
