<nav class="navbar navbar-default navbar-xxx navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="/"> <span class="tolor"> Digital VIDYAH <i class="fa fa-book"></i></span></a>
    </div>

    
     
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
       

     


     <li><%= link_to "Find Tutor", tutors_path %></li>
     <li><%= link_to "Find Institute", institutes_path %></li>

      <li><%= link_to "About Us", pages_about_path %></li>
      <li><%= link_to "Team", pages_team_path %></li>



      <% if user_signed_in? %>
      <li><%= link_to "Edit", edit_user_registration_path %></li>
      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>

      <% else %>

      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>

      <% end %>
       
       

       

     
       
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>